# ETL Pipeline Preparation
### 1. Import libraries and load datasets.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('../data/messages.csv')
print(messages.shape) # checking the shape of the df
messages.head()

(26248, 4)

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('../data/categories.csv')
print(categories.shape) # checking the shape of the df
categories.head()

(26248, 2)

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.

In [4]:
# merge datasets
df = messages.merge(categories
                   ,how = 'inner'
                   ,on = ['id'])
print(df.shape)                   
df.head()

(26386, 5)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.

In [5]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';'
                                       ,expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
# select the first row of the categories dataframe
row = categories.iloc[0, :]
# strip unnecessary characters
category_colnames = row.apply(lambda x: x.rstrip ('-0 1'))
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [8]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.

In [9]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str[-1]    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [10]:
# drop the original categories column from `df`
df.drop(['categories']
       ,axis = 1
       ,inplace = True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [11]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories]
              ,axis = 1
              ,sort = False)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [12]:
# check number of duplicate rows
print('There are:', df.duplicated().sum(), 'duplicated rows in the dataframe.')
# check number of duplicate id's
print('There are:', df['id'].duplicated().sum(), 'duplicated id\'s in the dataframe.')
# check number of duplicate messages
print('There are:', df['message'].duplicated().sum(), 'duplicated messages\'s in the dataframe.')

There are: 170 duplicated rows in the dataframe.
There are: 206 duplicated id's in the dataframe.
There are: 209 duplicated messages's in the dataframe.

In [13]:
# drop duplicate rows
df.drop_duplicates(keep = 'first'
                  ,inplace = True)

# drop duplicates with the same id's
df.drop_duplicates(subset = ['id']
                  ,inplace = True)

# drop duplicates with the same messages
df.drop_duplicates(subset = ['message']
                  ,keep = False
                  ,inplace = True)

In [14]:
# check number of duplicates
print('There are:', df.duplicated().sum(), 'duplicated rows in the dataframe.')
print('There are:', df['id'].duplicated().sum(), 'duplicated id\'s in the dataframe.')
print('There are:', df['message'].duplicated().sum(), 'duplicated messages in the dataframe.')

There are: 0 duplicated rows in the dataframe.
There are: 0 duplicated id's in the dataframe.
There are: 0 duplicated messages in the dataframe.

### 7. Check for inconsistencies in all target columns

#### Observations

    * Child_alone column doesn't contain any valuable information
    * Related column contain rows with value == 2
    
#### Decisions on current Observations

    * Drop child_alone column
    * Further study rows where related == 2

In [15]:
categories.max().sort_values() # max values in the categories columns

0
child_alone               0
death                     1
transport                 1
buildings                 1
electricity               1
tools                     1
hospitals                 1
shops                     1
aid_centers               1
other_infrastructure      1
weather_related           1
floods                    1
storm                     1
fire                      1
earthquake                1
cold                      1
infrastructure_related    1
other_aid                 1
direct_report             1
refugees                  1
request                   1
offer                     1
aid_related               1
medical_help              1
medical_products          1
search_and_rescue         1
other_weather             1
security                  1
water                     1
food                      1
shelter                   1
clothing                  1
money                     1
missing_people            1
military                  1
related                   2
dtype: int64

In [16]:
# drop the child_alone column from df
print(df.shape)
df.drop(['child_alone']
       ,axis = 1
       ,inplace = True)
print(df.shape)

(26176, 40)
(26176, 39)

#### Observations
- Most of the messages with related value == 2 are in different languages than english
#### Decisions on current Observations
-  Deciding to drop all rows with related == 2

In [17]:
# checking messages with related values == 2
list(df[df['related'] == 2]['message'])

 citizens live here that all will be ok and that everyone ( could be the world ) hurrying to try to make us survive.",
 'This is my address : Cersine 8 Prolong. .. . ',
 'I would like to have some information on the last disaster',
 "No location : Ou se trouve l'ambassade du Sngal en Haiti",
 "Je veux savoir comment je peux obtenir de l'aide pour mon orphelinat situ  Delmas 31, svp dites-moi ce que je dois faire",
 '142, Ruelle Beaulieu, Mon Repos 44 Carrefour ',
 '. ..  Esdras. Address : Solidarit Village, Toussain Louverture Street 83A!',
 'Route des dalles prolonges #277 after Morne Jean-Pierre, thank you do. ..  ',
 'we are in rue Dessalines Petit goaves and it necessary to..? ',
 'I am very happy to get the messages that tell me about the precautions I have to take. Thank you very much, If you could make it so that food comes my way it would be good because .. ',
 'mouin vle kite ayiti depi kek jou. ',
 'Mwen ta renmen jwenn yon djb. ske gen posiblite pou mwen jwenn li? Kisa ou ka f pou ede mwen? Mwen bezwen savis ou. ',
 "(Delmas 33 Charboniere infomatyon s'il vous plait.) ",
 'Carrefour Feuille rue Mgr Prol # 39 ',
 'Ede m nan lort pou genyen yon bourss ',
 'mwen ta renmen gen enfmasyon sou siklyn nan peyi mwen ',
 'jel2  Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch102kr Es59 ',
 "I'd like to know after this drama, will there be anywhere that I may see a psychologist, who maybe available because I have ",
 'gjm.adgjmpgjm.adgjmgjmgjmgjmgjmgkmptwptwptwptwptwptwptwptwptwptwpwptwptwgjmgjmgjmad.ad.ad.ad.d.ad.d.da.d.ad.ad.ad ',
 'are what the imigration restarts has make of them pass-port for people that not of pass-port ',
 'mwen besoin dlo avek mange na zon bon repos, lilavois ',
 'Damocles!Hracles!Philockles!Hyphocles.!yayecles!zigzacles!domagecles!lucles!77h  ',
 "The SMS:  Evitons 2 traiter 1 tas bLaissons 2 cot 7 kesyon. Ke tu sois direct tais notre mach conclus 2 c matin. J't'attends  ",
 'Midi Estimene:rue Lambert Prolongee and rue Merilus #4 (Petion-ville) ',
 'Amoni se Richi: Rue Raphael et Cerisier (Petion Ville) ',
 ' 9GeQYeYGQEQtm  ',
 'annot ni batiman dada cheri se pwason ni ou ni manmi w ni keti renmen an pil la wi se yon gro rat at yon gro kwapo kitap batay lasirne f tranf pou tou ',
 '0H 8@@ @2x @e8x3 xr     ',
 'http://wap.sina.comhttp://wap.sina.com ',
 'Wesantyahoo.fr.Pepayisenyahoo.fr ',
 '//// // @:@ ',
 'NOTES: this message is not complete',
 'f k yo ap mal viv nan ansagal lagonav.msi.  ',
 '8 @9q@@  5 m) 1A a!a ?aCYCLONE  ',
 "/''''''''@''''''''''''''''@ @''''' michou )) ''''''''''''cyclone.  ",
 'I@UU#UTGa UTUUUXU  UU@UU@UUp U. ',
 "Good evening to all parts of the United Nations so I remsiw Adra, Spain because I see something to bring 250 people found the four towels soap Cink had a six ice all very much pleased the United Nations kounya other things I'm waiting for luggage next to Always on baylode. ",
 'Pal kraze preval di pa gen pwoblem, pal jistis kraze preval di sa te dwe kraze 2ja paske pat janm gen jistis, yo di kleren lakay ak rhum barbancourt kraze preval met 2 men nan tt li rele anmwey pa gen peyi ank. ',
 "0Tranbleman t aH 8@@ @2x @e8x3 xr    ' Gv?e?0   ",
 "The SMS:  Rezilta Bak la sot bay 12 Janvye a nan lekl la vi a. Men kman l tonbe: Moun ki mouri nan dezobeyisans yo: Elimine Moun ki mouri anba pouvwa Bondye yo: Admi e rs moun ki rete yo ajoune. Pa bliye egzamen moun ajoune yo p'ap two lwen pou'l ft, degaj  ",
 'Aa.Bb.Cc.Dd.Ee.Ff.Gg.Hh.Ii.Jj.Kk.Ll.Mm.Nn.Oo.Pp.Qq.Rr.Ss.Tt.Uu.Vv.Ww.Xx.Yy.Zz.KERLANGE. ',
 '3 mamit chabon,4 dola poban,kart,pn 2 t,kreson,tomat. ',
 'Mato30 Nivo60 Tiwl30 Ficel22 Ek49 ',
 'Bonjou fr Louko mwen se simon st.pierre map koute radio 1 nan boukan-chat map mandew svp pouw salye moun sayo pou mwen: Eunide Elissain, wiskender st.pierre,et jesual st.pierre,alyas pipirit, kap koute radyo a chapotin. Msi. ',
 '2O TRI PYE, 5 POIRO, 2GD PESI, 1OMORU, 5LAY3DOLA SITWON ',
 'Prcaussion cons of the aspen earth ',
 'Zb rmd : dl 2, dl rep, dl chase ',
 'Zb rmd : dl c.lve dl 2, dl rep, dl chase. ',
 'please, we would like to know if itis true thereas in the moment. ',
 'NOTES: This message is not complete, it is not necessary to translate it.',
 'NOTES: This message mark not enough information.',
 'Word Hurricane and earthquake ',
 'Wpltjgdtm pwjtj ptjg. T .)tgjpg(uk ',
 'Tegen tranblement land kite yon pase nan north country of haiti sete year 1842 Bulan interest unknown ',
 '0H4Z(Z x(@zf0 ?!?@x PrxP0c6 ',
 'RT lucasrohan Tem alguma coisa do Haiti? T u00f4 acomapanhando a lista nprnews haiti earthquake t u00e1 ca u00f3tico t u00e1 um horror l u00e1',
 'RT paipibat RT Teelek Flickr paipibat u0e15 u0e34 u0e14 u0e15 u0e32 u0e21 u0e20 u0e32 u0e1e u0e08 u0e32 u0e01 u0e40 u0e1e u0e34 u0e48 u0e21 u0e40 u0e15 u0e34 u0e21 u0e08 u0e32 u0e01 Flickr u0e44 u0e14 u0e49 u0e17 u0e35 u0e48 u0e19 u0e35 u0e48 u0e04 u0e23 u0e31 u0e1a http bit.ly 60OxGS #Haiti #Earthquake',
 'alhamdulillah sekarang udah jarang Earthquake lagi',
 'RT Fleegerian_Akin RT ShanCali Earthquake in carribean I feel sorry 4 dem ppl in hatti da whole island is basi cont http tl.gd 3g8mi',
 'Haiti Earthquake Earthquake Hits Haiti C est tre tres rare que trembleme. http bit.ly 53Z4gm n Got News? Add It!',
 'RT Contentgirls earthquake heeft mensen wel wakker gekregen maar is niet zwaar. Even benadrukken voor het geval iemand familie heeft o ..',
 'Contentgirls gelukkig earthquake niet te zwaar Aruba Antillen. Heb jij er familie?',
 'Gismis pallas_ploem earthquake heeft mensen wel wakker gekregen maar is niet zwaar. via Contentgirls',
 'RT mHefneratm RT LoSoATM What happened n HaiTi ??&gt Da Whole Situation turn ugly! Xhi Xhi.. Lmao Nah a earthquake! WrD! $hyT Brazzi',
 "Cara, eu to m‚àö‚â§ tenso, quero saber se minha prima e minha tia estao bem com esse terremoto '-' elas moram en Santiago no Chile &gt;.&lt;",
 'la probabilidad advertida: Interseismic strain accumulation measured by GPS in the seismic gap between Constituci‚àö‚â•n and Concepci‚àö‚â•n in Chile',
 'martelozzo Eu n‚àö¬£o to em Santa Cruz do Rioooooo Parrrrrrdoooo.. haushasua',
 'ii_Santos Ah que legal.. Deve ser bem bacana trabalhar l‚àö¬∞.. eu to numa produtora de cinema l‚àö¬∞ perto do metr‚àö¬• santa cruz',
 'On My Way To SantiagO with the team . PhOtOshOt mOde On . ;) En pistaaaaaaaa',
 'Nem comentei, sabado fui na santa cruz .. Nem todo sabado eu to la mas a batalha ainda ‚àö¬© real',
 'RT VN24H: LUZ EN CONCEPCI‚àö√¨N: Gerente de CGE: Hay 30% de luz en #concepci‚àö‚â•n #talcahuano. En 72 horas debiera estar restablecido casi to ..',
 'elipepolesi @vivisabetudo po to sempre do lado do metro santa cruz na republica dos brother . festinhaa',
 'aguinho89 Adding the 2010 S‚àö¬£o Tom‚àö¬© (with my rating 0 of 5) to my isopor com gelo! #amywine brincadeira, amo vinho e adoro suas dicas, abs',
 'ikael_Santiago pode crer.. vou ler mais tarde pq to de saida ai posto aqui.. vlw brother!',
 'RT atiasasun: #facts El cierre de los liceos de Santiago y otros debilita un alzamiento pinguino contra lavin // You got to be kidding me.',
 'Utsatte turen til Santiago til i morgen, da broforbindelsen ble stengt for privattrafikk. Forst‚àöelse for at hjelpearbeid f‚àör prioritet.',
 'De folga hoje, mas amanh‚àö¬£ to trabalhando no Arruda, para sofrer mais um pouco acompanhando o Santa Cruz. Haja cora‚àö√ü‚àö¬£o!',
 'Concordo com o engenheiro de Santiago, quando eu for engenheira civil, pode deixar que eu vou inventar constru‚àö√ü‚àö¬µes fortes at‚àö¬© pra terremotos',
 'odricao to em santiago, aqui nao houve tanto panico, mas as pessoas se assustam. eu estava em um pr‚àö¬©dio :-( #terremotochile',
 'Boa noite.. Dake a poko to pegando a estrada.. vo p santiago conhecer E! &lt;3 *---*',
 'Bem, se n‚àö¬£o caiu nem um copo do bar eu ja to mais tranquilo. Arrumando a mala e rumo a Santiago! Mengo estou sempre contigo!!!',
 'limmby ‚àö¬© madrugada ! AUSHDUIAIUAS aah sakei qual eh! ‚àö¬© que eu to fazendo treinamento na facul impacta, Santa Cruz ai eu pensei que era la',
 'uryAccordi tu ta em santa cruz neh to em rio grande :) amo santa cruz..gruta dos indios lindo demaisssssssssssss.. :)',
 'mviick to ligada , santa cruz (: ja colei , rs',
 'Pra completar, os torcedores do Santa Cruz que invadiram a comunidade amea‚àö√üaram dar porrada em quem for \\',
 'lextriplex avisa a galera do blog que eu to aqui em Santiago tentando falar com eles desde sabado mas nao consigo logar nos coments daqui.',
 'aio_gattuso to ouvindo Guilherme & Santiago. SAHUSAHASUHASUAS',
 'Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf',
 'Se o pessoal de SANTA CRUZ for t‚àö¬£o legal AO VIVO, como ‚àö¬© por TWITTER/ORKUT/FOTOLOG, essa sexta vai ser uma das mais legais da hist‚àö‚â•ria!',
 'RT andatopaz: Se o pessoal de SANTA CRUZ for t‚àö¬£o legal AO VIVO, como ‚àö¬© por TWITTER/ORKUT/FOTOLOG, essa sexta vai ser uma das mais lega ..',
 'Hamar         Ghair Sirkare Adare      krwao    kro    n kons Chez kons ilika   ky Chez? Plz    Sirkare (SRSO) Adara ( ) ( Crecent Hillah) Ahmar (Takhleeq foundition) (Pirbha',
 'hmre vilage kachipul men flood ne bht nuksan kiya he hmra crop,hmre ghr aur hmra rozgar sbkch khtm hogya he mgr govt ne abi tk hmri koi help nhn ki he.',
 'hmre vilage kachipul men flood ne bht nuksan kiya he hmra crop,hmre ghr aur hmra rozgar sbkch khtm hogya he mgr govt ne abi tk hmri koi help nhn ki he. Location:vilage kachipul distt:kambr shadadkot plz visit u city kachipul',
 'WATAN.CARD ki dosri qist kab jari ho gi. KotAddu.MuzaffarGarh',
 '. Safiullah fadr a muhmmad shfi',
 'bary mherbani meri madad ke jayee gaoon Gul khan laghari Talkio Khair Pure Nathan shah Distk Dadu sindhi U/C Kandi chukhi salleb zadgan no govt no orgnization no one please help me sender',
 'NuFI H H K Please Help me vellage Gul khan laghari Talkio Khair Pure Nathan shah Distk Dadu sindhi U/C Kandi chukhi Flood loss victums Na goverment na help ki ha na kis Tanzam Na please hel',
 'I am a poor man i have youngr children But the local government says i am not eligible to receve watan card please issue watan card on my C.N.I.C no.',
 '( Alaikum)    U / C Rojhan Sharqi     Rojhan       Saheja    tabah      Awam      Khudara hamary    Dhia   ',
 '(Meara nam qamadeen hea bassti bakhshali maoza wahmachka tahseel rojhan zella rajanpur hea na hamea watancard mlea our na hamea koi our amdad mela makanat our saman pani baha kar lea ghea hea.patwari halqa nea maoqa par tassweer bhe banaea.yah meara sh',
 'Complaint against save the children is not visited to us basti sabqi wala p/o kotla mughlan teh Jampur',
 'Distrct jamshoro lakhra   residentional          ,      ,      somethng  ',
 '. Saed. Khan. Tahsel. Jampr. Zela. Rajnpr. Ghali. Rakh. Azmt wala',
 ' bary silb zadgan.mir abo.   Alli halya sylab  wafat a gya  wo a fasl  dikh   ly      thiesil lyaqt   rahem     fasl  dikh  kly wahan       achank darye Chanab ',
 'Iam Raees khan and iam very poor man.',
 'Sukkur , ,    ,          ',
 'Tahsel. jamur.    Rajanpur?',
 'Tahsel,. . Jamur,. . D.s.s.,. . Rajanpur.',
 '100  persnt  Effecte     Nitionality K Righter          K       krt a plz   hamar  kro loct VILLAG CITY KACHIPUL Dist! Kamber Shahdad a  Qubo plz Vist  Kachipul ',
 'KHALIL AHMAD AND M ASMIAL KOTLA MUGHLAN DISTREKT RAJANPUR TAHSEEL JAMPUR HAMARAY HAN PANEY 10 Fut HAMARAY EAT THA 100 FESAD steadfast KITTER Valon HAN HO GAY SAY KY stage 2 MARTBA RASHAN Mela 1 KAHEN SAY MAN CAMP KER Mang Laya BACHON HON MAN IS KO AUR CH',
 'KHALIL AHMAD ARIAN KOTLA MUGHLAN TAHSEL JAMPUR DISTREKT RAJANPUR HIM NA PAHLAY BHI AP KO SMS KEYA THA AUR REPORT BHI DEY THE IS LAYA HIM AP KO PHIR YAD DELANA CHAHTA HAN K HIM AP K TAVON K MONTZIR HAN MAJBOR HAN IS LAYA BAR BAR SMS KER RAHAY HAN MAHIRB',
 '  kamea     kole asman K     ',
 'Aijaz ahmed dit khairpur meirs thahsel nara vlage misale goth tajal shref yhan sind blochastan se 300khandan hm mojod han hman tkreban do mah se koi i',
 '  selab  waja sy a giya. I dobara  BNA sakta  mooshkil   shadeed. Mery 3 choty choty bachy    Waly shdeed',
 'Mera ghar selab ki waja sy gir giya hy. aur dobara nahin bna sakta main shadeed mooshkil men hoon. mery 3 choty choty bachy aur baqi ghar waly shdeed sardi khaema mein guzarny par majboor hin. khdara ghar banany mein meri mdad kro. plz help me. khalil',
 'Mera naam Abdul Aziz s/o Abdul karim hai.main dera Allah yaar mein rahta hoon.sailab ki wajah se jo tabahi hue hai.iss mein mera ghar bhi sailab ki nazar ho gaya hai.sailab ke baad hum besaro samaan pare hain.abhi tak humein kisi kisim ki imdad naheen',
 'Ap ko aur ap k sare team ko Eid Mubarak ho?Sir Ap logon ko aik Request hai k sir aik bar ap hamar city mein aa kr visit kro ya to apna Nimaind behjo to hamare sub halat ke khaber malom hoge!Sir hazaron k tadad mein logo ko watan card be na mila jin ko',
 'AURANG ZEB S/O GULAB DIN DIST MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,leken mujy koi emdad wagera nhi mili,mujy omeed hai k ap meri madad zaroor fermaygy.shokria',
 'BBC HELP LINE K TUFAIL MIN TEH.JAMPUR DISTT.RAJANPUR ALLAH ABAD S MUHAMMAD SADIQ SON OF RAHIM ALI FLOOD EFFECTED HON GHAR K KISI BHE BUNDY K NA HE WATAN CARD AUR NA HE KHORAK MILI HAMARI KISI MATLOBA BUNDY TAK RASI K JAEY JO PROBLEM KO SOLVE KR SEQY TH',
 'most affacted areas in Punjab kot addu, jampur, kot mithan',
 '          .',
 'muhammad iqbal son of mashal khan nic no0',
 'thatta,         (, ,)    ',
 'murad mae zauja khuda baksh basti ahmmad yar bakhshu bhattar dakkhana thul hamza teh liaqat pur dest r y khan please tell us that why woman watan card have not been made. please help us thank you',
 'Murad mae zauja baksh Basti Khuda ahmmad yard bakhshu bhattar dakkhana liaqat tea thul Hamza Khan Pur dest ry hamen yeh aap keh ham bataen aurton k kiyon nahen native bane card please hamari madad kijye shukria',
 'Muza rakh kan wah tahsil jam pur zila rajan pur yahan hamary 30 ghar mujud hayn hamar na hakumt ny kui amdad ki hay na kui inguz waley ay hain awr na hmen watn kard melen hayn hamari guzaresh hamary ailaky dura karen',
 ' ShahZaib   Kachipul,  Aqwame Muthida  apeel   Hamare     pareshane BRT  , Berozgare Badhale Plz    apeel      n !      Khad a  Wo Kisano     Wo      ',
 'district sms kambar shahdadkot tullka qubo council hazarwah deh seer dakhan village himath ali chandio safdar ali chandio',
 '                           ',
 '  WAJA          TAHSEEL  KHAIRO  JACAB  , SA  ,  ,    AABAD   APEEL MADAD',
 ' MUTASER ',
 'Pr Sahil Khan of Peshawar Ap kaisi teak hi how programe Acha hai meri chalta level ap sub se ko salam team (khuda hafiz',
 'saed khan rakh azmt wala tahsel jampy dss rajanpur punjab',
 'Ghulam Ali Zardari. Village:Qurban Ali Zardari. Taluka Sujawal District:Thatta. Sindh.',
 "Sajid Ullah Khan s / o'Faiz Ullah Khan",
 'Sajid ULLAH Khan s/oFaiz ULLAH Khan',
 'sajjad ali son of Ghulam yasin city.khair pur nathan shah province sindh pakistan.',
 '.  /    khairo Disctt. Jacobabad.',
 'selab 2 kamre tabah kardia     melap pls a ',
 'shamsher haider mirani moza sumra nashaib janoobi',
 'SIR WE REUEST YOU UN PEORLE BE JUST AND REALISE WHO IS EFFECTED AND WHO IS NOT. IF YOU REALLY WANT TO HELP THE EFFECTED ONES THEN..',
 'SULTAN AHMAD S / O Ahmad Yar Basti Dera AHMADYAR BHATTER DAKKHANA FAREEDI TEA Liaqat RY KHAN PUR DEST MERA Watan CARD NAHEN Bana BARAE MAHERBANI AAP MUJHAY BHE Watan Shukri DEN DAY CARD',
 "   MAOZA          U  REP '",
 'SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI PUR DISTT MUZAFAR GARH IF U HAVE UR REP',
 'TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,but what i can',
 'TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,leken mujy koi emdad wagera nhi mili,mujy omeed hai k ap meri madad zaroor fermaygy.shokria',
 'TEH SUHBAT PUR VILL NASEER KHAN KHOSA MY PRESENT LOC',
 'UN aur UN K Nimaidon ko Apeel krt hain k? Hamara Rozgar,Crops,aur taleem Health,saf pani peane k lea sub kuch Effecte hoge hain!Hamre Ilaiqe mein',
 'I allhadino khaskheli UC chatto a dehe a shalunka  walidad khaskheli    halya selab    gia hamare    fasal   Doob gia leaken hamare    engos a rashan      bhut ',
 'village koor mir mohmmad u c burira takuka khairpur nathan shah distt: dadu',
 'gaav valay aahar aor aarthik samashyaa saamna kartha hai krupayaa maddath karo.Prof. A Sultan Soomro. Village Essa khan Thebo talk. KNSHAH.',
 '  CONNFCTION     /         .     SOLANGI,       JOHI  ',
 '@jujoffer: So Frankenstorm has been reduced to Young Frankenstorm status‚àö√Ü',
 "#SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout by Brown's Brewing Company @Casa de Beer Nerd ‚àö‚â• http://t.co/gPjxgSN1 #photoIt's dark and stormy (@Frankenstorm Apocalypse - Hurricane Sandy w/ @whitneyebryan @gregwong) http://t.co/fBTFQlQJ",
 'atrickSF @antmarshall @kleankut1 @somarlavous @mkbkrthebkmkr @gunsmoke415 Sandy cant blow for shit.. http://t.co/1R3ufoMOGuy on the roof of a building in Brooklyn #sandy #nyc http://t.co/E44mdt1U',
 "Les habitants, dont l'activité est essentiellement pastorale, ont perdu une grande partie de leur bétail.",
 "Jusqu'à présent, les 133 femmes qui participent au projet à Mbar Toubab ont produit de la laitue, des tomates, des oignons, des pommes de terre, des gombos, des aubergines, des pastèques, des carottes, des choux et des navets.",
 'Despite rapid deliveries of tents and other relief assistance by Chinese authorities, fresh snowfall on Tuesday made the situation for the estimated 40,000 homeless people in Zhangbei and Shangyi counties of Hebei Province very difficult.',
 'All available resources were put forward to deal with the heatwave which killed 1,271 alone in the metropolis since June 20, when the first heatstroke victims arrived at hospitals.',
 'The six countries will also adopt a training curriculum for their volunteers as the group feels that they play an important role in education and prevention, David Dofara, a regional health specialist, told IRIN on Thursday.',
 '"It was very windy and there were heavy thunderstorms.',
 'The 50 international hospital staff lived in a tent city and sweltered in temperatures of 45 degrees celsius.',
 "L'Armée suisse a cependant le savoir-faire et les connaissances nécessaires pour accomplir en cas de besoin de telles tâches outre-mer.",
 'PETR V. ILIICHEV (Russian Federation) said the growing "untraditional" risks to peacekeepers from non-governmental actors placed more responsibility on the Council to devise clear mandates.',
 "* Par ailleurs, aucune victime française n'a été signalée, la communauté française étant implantée principalement dans la capitale.",
 'Refugees International therefore recommends that:',
 'This combination of low agricultural production and high food prices means that many people have started to resort to negative coping mechanisms: reducing their number of daily meals, taking their children out of school and eating roots and leaves.',
 'crop, loss of hydro-electric generating capacity, a reduction of production in various mining enterprises and',
 'transferred to a sanitary landfill site by a',
 'Families also have solar lamps which can be recharged at charging stations in each community.',
 'Read the [full blog post](http://www.odi.org.uk/opinion/details.asp?id=6777&title=somalia-horn-africa-humanitarian-crisis-independent-commission-aid-impact-icai-dfid) by Simon Levine.',
 'Actualmente e independientemente de la ayuda de socorro inmediato que está proporcionando en el terreno los equipos diocesanos de Caritas Pakistán, las cuatro organizaciones miembros de Caritas que ya operan en Pakistán están haciendo la planificacin para responder a la emergencia de las actuales inundaciones.',
 'Mali\'s former President Amadou Toumani Touré - though hailed internationally as a democrat, reformer, and ally in the American "war on terror"  - oversaw a system tainted by corruption at all levels.']

In [18]:
# deciding to drop rows where related == 2
print(df.shape)
df.drop(df[df['related'] == 2].index
       ,axis = 0
       ,inplace = True)
print(df.shape)

(26176, 39)
(25988, 39)

### 7. Save the clean dataset into an sqlite database.

In [19]:
engine = create_engine('sqlite:///../data/DisasterResponse.db')
df.to_sql('Message_Category'
         ,engine
         ,index = False
         ,if_exists = 'replace')